[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Aztter
Exec=./aztter
Icon=/opt/click.ubuntu.com/com.ubuntu.developer.yuntan.aztter/current/Aztter64.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
