[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Aztter
Comment=twitter client for Ubuntu Phone
Exec=qmlscene -I ./lib ./main.qml
Icon=./img/aztter64.png
X-Ubuntu-Touch=true

